# dependencies
node_modules
node_modules.nosync

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# env
.env
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
